table {
    padding: 15px; /*убираем пустые промежутки между ячейками*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
td {
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;

}
.default{
    background: white;
}
.bobling{
    background: blue;
}
.clickTrue{
    background: green;
}
.clickFalse{
    background: red;
}